@import './common.scss';

body {
  margin: 0;
  color: $black-color;
  font-family: $app-font;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0.00938em;
  -webkit-font-smoothing: antialiased;
  background-color: #fafafb;
}

.left {
  left: 0;
}
.rigth {
  right: 0;
}

.hide-top {
  height: 0;
}

.show-from {
  height: auto;
}
